ELASTIC_HOST=https://localhost:9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=changeme
KIBANA_HOST=https://localhost:5601
ELASTIC_VERIFY_TLS=false
ELASTIC_CA_CERT=
VT_API_KEY=
URLSCAN_API_KEY=
ABUSEIPDB_API_KEY=
TINES_WEBHOOK_URL=
TINES_ALLOWLIST_URL=http://localhost:5000
